<div class="row">
    <div class="col-md-8">
        <div class="call-action">

        </div>
        <div class="testimonials">
            <h2>Testimonials</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="testify">
                        <blockquote>
                            there were a spate of burglaries in the area, in particular on my street, BFCG added CCTV to my property, I know this acted as a deterrent and there monitoring service keeps a watchful eye on my property when I and my family are asleep
                        <cite>Mr. Jacobs</cite>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testify">
                        <blockquote>
                            having an alarm is all well and good, the CCTV monitoring service picked up an intruder in my front garden, BFCG was able to alert me and the police, they didn’t even get close to my front door Well Done BFCG
                        <cite>Ms Tracy Adams</cite>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testify">
                        <blockquote>
                            my children was playing in the front garden, I feel safe that BFCG is watching over them”, as a single mother I found the service to be far less expensive than other major companies
                        <cite>Mrs Anderson</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="home-security">

                </div>
            </div>
            <div class="col-md-12">
                <div class="business-security">
                    
                </div>
            </div>
        </div>
    </div>
</div>
