.home-security {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5)), url('./assets/images/home-cctv.jpg');
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;
}

.business-security {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5)), url('./assets/images/office-cctv.jpg');
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;

}
