<div class="row">
    <div class="alarm-section">
        <div class="row">
            <div class="col-md-6">
                <div class="alarms-pic">
                </div>
            </div>
            <div class="col-md-6">
                <div class="alarms-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde delectus, rem recusandae nulla architecto! Officia dolores necessitatibus, eligendi ipsum, perferendis delectus expedita similique vel nisi, ab exercitationem molestias voluptates! Error fuga suscipit non neque aspernatur autem, at dolores dolore, itaque reiciendis obcaecati tempore accusamus labore nostrum aut deleniti incidunt, quam.
                </div>
            </div>
        </div>
    </div>
    <div class="cctv-section">
        <div class="col-md-6">
            <div class="row">
                <div class="cctv-pic">
                     <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nesciunt possimus molestiae velit enim numquam libero itaque blanditiis, eos maiores asperiores assumenda dolor veniam cumque cupiditate nemo vitae, voluptates perspiciatis maxime ex. Incidunt nam, tempore voluptatibus doloremque, ullam maxime odio odit, porro ut suscipit ipsam, quos eos consequatur perferendis temporibus.
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cctv-text">
                    </div>
                </div>
            </div>
    </div>
    <div class="monitoring-section">
        <div class="row">
            <div class="col-md-6">
                <div class="monitoring-pic">
                </div>
            </div>
            <div class="col-md-6">
                <div class="monitoring-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eaque cupiditate quae quaerat ea corporis nobis, cum ipsa impedit! Facilis asperiores deserunt rerum inventore architecto eaque, debitis fugiat, consectetur nesciunt, expedita incidunt tempora dicta, placeat sunt at sequi quia error illo repellat neque excepturi nostrum. Repellat, eveniet! At, delectus, fugit?
                </div>
            </div>
        </div>
    </div>
</div>